In [24]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("firstsem_cse.csv")

In [3]:
df.head()

,Student Name,EnrollMent No,SID,Scheme ID,AM-1 Internal,AM-1 External,AP-1 Internal,AP-1 External,MP Internal,MP External,...,ET LAB External,MP LAB Internal,MP LAB External,FOC LAB Internal,FOC LAB External,ED LAB Internal,ED LAB External,AC LAB Internal,AC LAB External,Total Credits
0,ABHISHEK,110102717,SID: 190000099690,SchemeID: 190272015001,17,35,24,50,25,30,...,53,36,40,36,45,30,45,37,56,27
1,ABHISHEK KUMAR VERMA,210102717,SID: 190000099691,SchemeID: 190272015001,17,57,23,64,22,47,...,48,38,45,36,47,34,55,39,58,27
2,ANJALI,510102717,SID: 190000099812,SchemeID: 190272015001,15,50,19,59,17,38,...,40,35,43,31,47,27,36,35,53,27
3,ANOOP PARASHAR,610102717,SID: 190000099813,SchemeID: 190272015001,9,31,18,31,20,46,...,40,36,46,36,45,32,37,29,46,27
4,ARSHWIN KUMAR,710102717,SID: 190000099814,SchemeID: 190272015001,17,28,25,42,22,49,...,48,38,35,31,45,30,32,33,50,27

### __Set The Column Student Name as the Index__

In [4]:
df = pd.read_csv(r"firstsem_cse.csv", index_col ="Student Name" )

df.head()

,EnrollMent No,SID,Scheme ID,AM-1 Internal,AM-1 External,AP-1 Internal,AP-1 External,MP Internal,MP External,ET Internal,...,ET LAB External,MP LAB Internal,MP LAB External,FOC LAB Internal,FOC LAB External,ED LAB Internal,ED LAB External,AC LAB Internal,AC LAB External,Total Credits
Student Name,,,,,,,,,,,,,,,,,,,,,
ABHISHEK,110102717,SID: 190000099690,SchemeID: 190272015001,17,35,24,50,25,30,22,...,53,36,40,36,45,30,45,37,56,27
ABHISHEK KUMAR VERMA,210102717,SID: 190000099691,SchemeID: 190272015001,17,57,23,64,22,47,17,...,48,38,45,36,47,34,55,39,58,27
ANJALI,510102717,SID: 190000099812,SchemeID: 190272015001,15,50,19,59,17,38,15,...,40,35,43,31,47,27,36,35,53,27
ANOOP PARASHAR,610102717,SID: 190000099813,SchemeID: 190272015001,9,31,18,31,20,46,13,...,40,36,46,36,45,32,37,29,46,27
ARSHWIN KUMAR,710102717,SID: 190000099814,SchemeID: 190272015001,17,28,25,42,22,49,17,...,48,38,35,31,45,30,32,33,50,27

In [5]:
df.shape

(1653, 29)

### __Drop the Enrollment No, Columns SID,Scheme ID, ALL LAB SUBJECTS (LAB IN THEIR NAME) and Total Credits from the DataFrame df__
Don't make new dataset save it to df as we have to do more operations that is dependent over it(If stuck better ask in the group)

In [10]:
df = df.drop(["EnrollMent No","SID","Scheme ID","ET LAB External","MP LAB Internal","MP LAB External","FOC LAB Internal","FOC LAB External","ED LAB Internal","ED LAB External","AC LAB Internal","AC LAB External","Total Credits","AP-1 LAB Internal","AP-1 LAB External","ET LAB Internal"], axis = 1)
#df = df.drop(,axis = 1)

In [11]:
df

,AM-1 Internal,AM-1 External,AP-1 Internal,AP-1 External,MP Internal,MP External,ET Internal,ET External,HVPE External,FOC Internal,FOC External,AC Internal,AC External
Student Name,,,,,,,,,,,,,
ABHISHEK,17,35,24,50,25,30,22,36,90,19,51,23,50
ABHISHEK KUMAR VERMA,17,57,23,64,22,47,17,57,89,19,65,24,63
ANJALI,15,50,19,59,17,38,15,54,82,16,52,17,52
ANOOP PARASHAR,9,31,18,31,20,46,13,42,76,19,45,14,30
ARSHWIN KUMAR,17,28,25,42,22,49,17,54,85,16,59,24,34
ASHISH KUMAR CHOUDHARY,17,48,24,59,20,46,19,46,88,15,40,23,54
AYUSH SINGH CHILWAL,17,60,23,64,16,47,22,58,84,21,61,24,62
AYUSH YADAV,4,21,15,20,17,16,14,36,85,19,36,18,42
DIPANSHU KUMAR,14,29,18,24,17,37,15,44,77,18,38,18,35
GAURAV KUMAR,14,41,19,23,17,38,13,34,82,18,44,17,50
HARI OM PAL,24,44,23,45,24,52,22,50,87,19,48,23,63
HARSHIT SAINI,13,50,21,29,19,39,19,44,86,19,49,18,39
HIMANSHU,19,22,17,28,17,25,15,41,80,18,23,23,23
ISHAAN JAIN,13,39,17,36,23,46,18,35,82,17,48,21,32
LAKSHAY MEENA,20,20,17,23,20,45,13,36,83,19,37,16,40
MADHAVENDRA SINGH,13,28,20,47,22,54,15,46,81,20,50,18,48
MANISH KUMAR,8,24,17,25,18,24,14,27,78,17,34,22,30
MOHD NAZIM,20,49,23,52,23,44,25,45,89,19,52,22,51
NAVDESH SINGH,13,27,18,23,20,42,20,36,62,18,38,20,42
NIKHIL,13,34,18,36,19,21,20,26,89,20,54,23,35
NIRMAL,15,33,20,44,21,52,15,45,82,19,46,22,50
PUNEET,13,29,20,40,21,57,19,43,83,23,49,23,49
RADHIKA SINGHAL,17,26,22,32,25,50,22,40,87,21,56,24,50
RAJAN PANDEY,17,38,22,44,18,45,24,43,83,21,44,24,46
RANJIT KUMAR SHAH,13,36,21,32,16,28,19,40,83,21,44,20,43
ROHIT JAIN,21,40,22,18,18,21,19,34,79,16,36,20,26
SANJEEV KUMAR,18,32,16,24,20,20,10,35,61,19,20,15,30
SARGAM VERMA,15,41,18,40,16,46,11,38,82,17,33,19,50
SATVIK VELIDANDI,15,34,21,41,20,29,23,37,85,22,54,23,44
SAYANTAN PANDA,16,49,21,54,19,21,17,47,85,17,56,23,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...
NARESH BISHT,19,22,16,37,17,33,17,27,80,20,43,19,30
SHIVANGI SATIJA,16,13,19,24,22,32,21,36,84,24,51,17,18
ARUSHI UPPAL,23,32,24,42,25,48,24,42,85,22,46,22,44
DIVYANSHU GROVER,24,32,25,52,24,45,21,48,94,21,35,24,40
PRERNA GULATI,16,24,21,19,13,39,18,33,80,22,32,20,30
TUSHAR,21,39,23,48,23,44,22,41,78,24,47,22,39
SHIVAM SINGHAL,17,21,18,27,15,25,17,23,80,22,36,18,32
VIDIT GULYANI,18,28,22,43,18,42,18,18,82,23,40,20,56
MAYANK UPPAL,18,22,15,34,17,27,19,19,72,21,32,18,28
SAGAR AHUJA,18,22,19,48,18,37,17,44,85,23,48,23,49
NIKHIL SINGH RUTELA,17,21,19,28,14,27,15,24,70,19,24,14,11
ROHAN TANWAR,12,12,13,13,14,23,15,17,78,20,31,14,8
DURGESH KUMAR TIWARI,19,21,20,46,19,26,20,20,90,22,42,20,26
JONES C J,19,21,18,22,15,18,16,21,80,19,36,20,29
DEEPAK MOHAN,21,24,22,56,22,52,21,47,92,23,64,22,38
SAURABH SINGH,21,49,18,30,21,35,21,52,82,22,57,19,19
MOHD ARSH,17,46,17,35,18,46,15,37,72,19,42,19,25
MOHIT KUMAR,22,25,19,34,19,61,19,35,79,21,41,20,46
NIKITA NEGI,21,39,19,30,19,43,19,29,88,22,37,20,38
RITWIK JHA,17,40,20,32,19,31,19,25,80,20,26,18,30
ABHINAV GUPTA,24,38,25,28,22,37,22,35,92,25,34,25,30
VISHAL GUPTA,21,28,21,35,17,54,20,45,82,22,50,23,48
ARPIT SALUJA,20,20,18,30,17,53,20,40,82,22,43,20,46
ABHISHEK SINDHWANI,21,28,24,46,20,26,22,27,92,23,33,22,37
ARVIND SINGH,14,26,19,33,19,29,18,44,82,23,41,19,56
ROHIT PANDEY,15,34,16,41,17,39,16,39,72,20,40,15,40
VIBHORE BHARDWAJ,20,30,16,37,18,47,17,28,90,23,23,20,37
MAYANK HARBOLA,24,38,22,50,21,40,22,33,84,21,50,22,46
TANVI ATTRI,22,22,20,22,21,30,21,35,88,20,40,20,53
NIPUN SETH,20,26,18,17,16,31,17,24,87,18,35,22,14

In [12]:
df.head()

,AM-1 Internal,AM-1 External,AP-1 Internal,AP-1 External,MP Internal,MP External,ET Internal,ET External,HVPE External,FOC Internal,FOC External,AC Internal,AC External
Student Name,,,,,,,,,,,,,
ABHISHEK,17,35,24,50,25,30,22,36,90,19,51,23,50
ABHISHEK KUMAR VERMA,17,57,23,64,22,47,17,57,89,19,65,24,63
ANJALI,15,50,19,59,17,38,15,54,82,16,52,17,52
ANOOP PARASHAR,9,31,18,31,20,46,13,42,76,19,45,14,30
ARSHWIN KUMAR,17,28,25,42,22,49,17,54,85,16,59,24,34

### __Add a Column Name Total Marks which will have total marks of each row (Summation of all marks obtained)__

In [13]:
df['Total Marks'] = df.sum(axis=1)

In [14]:
df.head()

,AM-1 Internal,AM-1 External,AP-1 Internal,AP-1 External,MP Internal,MP External,ET Internal,ET External,HVPE External,FOC Internal,FOC External,AC Internal,AC External,Total Marks
Student Name,,,,,,,,,,,,,,
ABHISHEK,17,35,24,50,25,30,22,36,90,19,51,23,50,472
ABHISHEK KUMAR VERMA,17,57,23,64,22,47,17,57,89,19,65,24,63,564
ANJALI,15,50,19,59,17,38,15,54,82,16,52,17,52,486
ANOOP PARASHAR,9,31,18,31,20,46,13,42,76,19,45,14,30,394
ARSHWIN KUMAR,17,28,25,42,22,49,17,54,85,16,59,24,34,472

### __Combine all the columns__
* Combine Columns of External and Internal Marks into one i.e AM-1 Internal and AM-1 External must be added and stored to another column named AM-1 Total(drop the AM-1 Internal and AM-1 External After that). Use any of the technique you like and do the same for all the subjects.

** __ATTENTION__ **
* A subject named HVPE doesn't have internal marks.


__Dataframe after this step must look like__

| Student Name |AM-1 Total|AM-1 Total|AP-1 Total|MP Total|ET Total|HVPE Total| FOC Total|AC Total|Total Marks|
|------|------|------|------|------|------|------|------|------|--|

In [15]:
df['AM-1 Total']=df['AM-1 Internal']+df['AM-1 External']

df = df.drop(['AM-1 Internal','AM-1 External'],axis=1)
df['AP-1 Total']=df['AP-1 Internal']+df['AP-1 External']

df = df.drop(['AP-1 Internal','AP-1 External'],axis=1)
df['MP Total']=df['MP Internal']+df['MP External']

df = df.drop(['MP Internal','MP External'],axis=1)

df['ET Total']=df['ET Internal']+df['ET External']

df = df.drop(['ET Internal','ET External'],axis=1)
df['FOC Total']=df['FOC Internal']+df['FOC External']

df = df.drop(['FOC Internal','FOC External'],axis=1)
df['AC Total']=df['AC Internal']+df['AC External']

df = df.drop(['AC Internal','AC External'],axis=1)
df['HVPE Total']=df['HVPE External']

df = df.drop(['HVPE External'],axis=1)
df.head()

,Total Marks,AM-1 Total,AP-1 Total,MP Total,ET Total,FOC Total,AC Total,HVPE Total
Student Name,,,,,,,,
ABHISHEK,472,52,74,55,58,70,73,90
ABHISHEK KUMAR VERMA,564,74,87,69,74,84,87,89
ANJALI,486,65,78,55,69,68,69,82
ANOOP PARASHAR,394,40,49,66,55,64,44,76
ARSHWIN KUMAR,472,45,67,71,71,75,58,85

### __Find Mean Marks of All the subjects.__

In [17]:
df = df['Mean'] = df.mean(axis=1)

In [18]:
df.head()

Student Name
ABHISHEK                  118
ABHISHEK KUMAR VERMA      141
ANJALI                  121.5
ANOOP PARASHAR           98.5
ARSHWIN KUMAR             118
dtype: object

### __Find Variance and Standard Deviation for each Subject and tell me what does it mean?__

In [26]:
#df = df.std()